@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'Open sans', sans-serif;
}

/* navber */
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 80px 10px 80px;
    padding-top: 10px;
}
 .logo{
    position: relative;
    font-size: 25px;
    font-weight: 700;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #FFF8F3;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}
.primary_color{
    color: #FD6E0A;
}
.navber ul{
    display: flex;
    align-items: center;
 
}
.navber li{
    list-style: none;
    margin-left: 40px;
}

.btn_primary{
    height: 40px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 500;
    background: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
}

/* banner */
.header{
    height: 100vh;
    background: #FFF8F3;
    background-image: url("../img/header_bg.png"),url("../img/developer.png");
    background-size: 600px,75px;
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
.banner{
    display: flex;
    align-items: center;
    margin: 0 40px 0 80px;
}
.banner_subtitle{
    font-size: 45px;
    font-weight: 600;

}
.banner_title{
    font-size: 85px;
    font-weight: 700;
}
.banner_dec{
    font-size: 18px;
    color: #757575;
    padding-bottom: 20px;
}
img{
    width: 450px;
    height: 550px;  
}

/* about */
main{
    max-width: 1150px;
    margin: 0 100px;

}
.about{
    background-color: #FFF8F3;
    margin-top:130px ;
    border-radius: 10px;
    padding: 120px 140px;
    text-align: center;
    box-shadow: #757575 -3px -3px 6px 1px inset;;

}
.section_title{
    text-align: center;
    margin-bottom: 20px;
}
.section_dec{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}
.info{
    display: flex;
    justify-content: space-between;
   
}
.title_name{
    color: #757575;
}
.box{
    background: #f86a0513;
    padding: 5px 6px;
    border-radius: 5px;
}

/* What i do  */
.what{
    margin-top: 130px;
    padding: 120px 50px;
}   
.card_contener{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    padding: 10px 15px;
    margin-left: 10px;
    border: 1px solid #FFF8F3;
    border-radius: 8px;
    background: #FFF8F3;
    box-shadow: #757575 -3px -3px 6px 1px inset;;
}
.card_logo{
    margin-bottom: 10px;
    width: 35px;
    height: auto;
}
.card_dec{
    margin-top: 10px;
    color: #757575;
}

/* summary/Resume */

.sum_res{
    margin-top: 130px;
}

.headtitle{
    margin-top: 50px;
    display: flex;
}
.name_title{
    color: #757575;
    margin-bottom: 20px;
}
.resume{
    margin-left: 240px;
}
.contener_Card{
    display: flex;
}
.card_part{
    padding: 5px 15px;
}
.text_tile{
    color: #000000;
}
.text_sub_title{
    margin-top: 10px;
    color: #424141;
}
.text_dec{
    margin-top: 10px;
    color: #757575;
    font-size: 14px;
}
hr{
    margin-top: 15px;
}

.btn_cv{
    text-align: center;
    margin-top: 35px;
}
/* contect section */
.contect_contener{
    margin-top: 130px;
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 100px 150px;

}
.contect_contener .section_title{
    text-align: left;
}
.contect_contener input,textarea{
    margin-bottom: 24px;
    border: none;
    width: 100%;
    padding: 5px 15px;
}

.contect_contener p{
    color: #757575;
    width: 100%;
    margin-bottom: 30px;
}
.icon{
    display: flex;
}
.contect_contener a{
    text-decoration: none;
    font-size: 20px;
    color: #FD6E0A;
    margin-right: 20px;
    translate: .5s;
}
.contect_contener a:hover{
    font-size: 15px;
}

@keyframes showRight{
    100%{
        width: 0;
    }
}